[submodule "docker_arcus"]
	path = docker_arcus
	url = https://github.com/Prev/docker-arcus
[submodule "askhy"]
	path = askhy
	url = https://github.com/Prev/askhy
[submodule "askhy_arcus"]
	path = askhy_arcus
	url = https://github.com/Prev/askhy
[submodule "askhy_nbasearc"]
	path = askhy_nbasearc
	url = https://github.com/Prev/askhy
