{% extends "_layout.html" %}

{% block content %}
	<ul id="asks">
		{% for id, message, created_time, cheer_cnt in dataset %}
		<li>
			<h4>{{ message }}</h4>
			<div class="time">{{ created_time.year }}년 {{ created_time.month }}월 {{ created_time.day }}일</div>
			<button class="primary" onclick="$('#cheer-popup .ask-id').val({{ id }}); $('#cheer-popup').show()">응원하냥! ({{ cheer_cnt }}명)</button>
		</li>
		{% endfor %}
	</ul>

	<button class="add-ask">
		<i class="fa fa-plus-square-o" aria-hidden="true"></i>
		<span onclick="$('#add-popup').show()">나도 부탁하기</span>
	</button>


	<div id="add-popup" class="popup">
		<div class="mask" onclick="$(this).parent().hide()"></div>
		<div class="content">
			<form action="/ask" method="POST">
				<div align="center">
					<img src="/static/images/add.png" height="35">
				</div>
				<div>
					<textarea name="message" placeholder="요청을 입력 해 주세요!"></textarea>
				</div>
				<input type="submit" name="요청" class="primary">
			</form>
		</div>
	</div>


	<div id="cheer-popup" class="popup">
		<div class="mask" onclick="$(this).parent().hide()"></div>
		<div class="content">
			<form action="/cheer" method="POST">
				<div align="center">
					<img src="/static/images/cheer.png" height="34">
				</div>
				<div>
					<input class="ask-id" type="hidden" name="ask_id">
					<textarea name="message" placeholder="응원 메시지를 입력 해 주세요!"></textarea>
				</div>
				<input type="submit" name="응원하기" class="primary">
			</form>
		</div>
	</div>

{% endblock %}
